<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<resultMap id="boardResult"  type="BoardVO" >
		<result property="board_id" column="board_id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="author" column="author"/>
		<result property="created" column="created"/>
	</resultMap>
	
	<insert id="insertBoard" parameterType="java.util.Map">
		INSERT INTO board(title, content, author,created) VALUES(#{title},#{content},#{author},NOW())	
	</insert>

	<select id="selectBoard" resultType="BoardVO">
		SELECT * FROM board
	</select>
	
	<select id="selectBoardTitle" resultMap="boardResult" parameterType="Integer">
		SELECT * FROM board WHERE board_id=#{board_id}
	</select>
	
	<delete id="deleteBoard" parameterType="Integer">
		DELETE FROM board WHERE board_id=#{board_id}
	</delete>
	
	<update id="updateBoard" parameterType="java.util.HashMap">
		UPDATE board 
			<set>
				<if test="title!='' and title!=null">
					title=#{title},
				</if>
				<if test="content!='' and content!=null">
					content=#{content},
				</if>
				<if test="author!='' and author!=null">
					author=#{author},
				</if>
			</set>
		WHERE board_id = #{board_id}
	</update>
</mapper>